{% extends 'PAM_APP/base.html' %}
{% block content %}
{% if account %}
    <div class="btn-group">
        <a href="{% url 'PAM_APP:update_account' account.id %}"><button class="btn btn-default">Edit</button></a>
        <a href="{% url 'PAM_APP:delete_account' account.id %}"><button class="btn btn-default">Delete</button></a>
    </div>

    <h1>{{ account.username }}</h1>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Account Value</th>
                </tr>
            </thead>
            <tr>
                <td>Username</td><td>{{ account.username }}</td>
            </tr><tr>
                <td>Address</td><td>{{ account.address }}</td>
            </tr>

            {% if account.device_type == 'DB' %}
            <tr>
                <td>Device Type</td><td>{{ account.device_type }}</td>
            </tr><tr>
                <td>Database</td><td>{{ account.database }}</td>
            </tr><tr>
                <td>Instance</td><td>{{ account.instance }}</td>
            </tr>
            {% endif %}

            <tr>
                <td>Safe</td><td>{{ account.safe }}</td>
            </tr><tr>
                <td>Folder</td><td>{{ account.folder }}</td>
            </tr><tr>
                <td>Policy ID</td><td>{{ account.policy_id }}</td>
            </tr><tr>
                <td>Last Update Time</td><td>{{ account.last_update_time }}</td>
            </tr><tr>
                <td>Risk Rank</td><td>{{ account.risk_rank }}</td>
            </tr><tr>
                <td>Operational Impact</td><td>{{ account.operational_impact }}</td>
            </tr><tr>
                <td>Overall Score</td><td>{{ account.overall_score }}</td>
            </tr><tr>
                <td>Users</td>
                <td>
                    {% for user in account.users.all %}
                        <li><a href="{% url 'PAM_APP:view_user' user.id %}">{{ user }}</a></li>
                    {% endfor %}
                </td>
            </tr>
        </table>
    {% else %}
        <p>Account could not be found</p>
    {% endif %}
{% endblock %}
