{% extends 'PAM_APP/base.html' %}
{% block content %}
{% if account %}
    <div class="btn-group">
        <a class="btn btn-default" href="{% url 'PAM_APP:edit' account.id %}">
            <span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'PAM_APP:delete' account.id %}">
            <span class="glyphicon glyphicon-trash"></span></a>
    </div>

    <h1>{{ account.username }}</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Account Value</th>
                </tr>
            </thead>
            <tr>
                <td>Address</td><td>{{ account.address }}</td>
            </tr>

            {% if account.DbAccount %}
            <tr>
                <td>Device Type</td><td>{{ account.device_type }}</td>
            </tr><tr>
                <td>Database</td><td>{{ account.database }}</td>
            </tr><tr>
                <td>Instance</td><td>{{ account.instance }}</td>
            </tr>
            {% endif %}

            {% if account.OsAccount %}
            <tr>
                <td>Device Type</td><td>{{ account.device_type }}</td>
            </tr>
            {% endif %}

            {% if account.AppAccount %}
            <tr>
                <td>Device Type</td><td>{{ account.device_type }}</td>
            </tr>
            {% endif %}

            <tr>
                <td>Safe</td><td>{{ account.safe }}</td>
            </tr><tr>
                <td>Folder</td><td>{{ account.folder }}</td>
            </tr><tr>
                <td>Policy ID</td><td>{{ account.policy_id }}</td>
            </tr><tr>
                <td>Last Update Time</td><td>{{ account.last_update_time }}</td>
            </tr><tr>
                <td>Risk Rank</td><td>{{ account.risk_rank }}</td>
            </tr><tr>
                <td>Operational Impact</td><td>{{ account.operational_impact }}</td>
            </tr><tr>
                <td>Overall Score</td><td>{{ account.overall_score }}</td>
            </tr>
        </table>
    </div>
    {% else %}
        <p>Account could not be found</p>
    {% endif %}
{% endblock %}
