{% extends 'PAM_APP/base.html' %}

{% block content %}

<div>
    <h1>Accounts</h1>
</div>
    {% if object_list %}
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Address</th>
                    <th>Safe</th>
                    <th>Folder</th>
                    <th>Policy ID</th>
                    <th>Last Update Time</th>
                    <th>Risk Rank</th>
                    <th>Operational Impact</th>
                    <th>Overall Score</th>
                </tr>
            </thead>
        {% for account in object_list %}
            <tr>
                <td><a href="{% url 'PAM_APP:account_detail' account.id %}">{{ account.username }}</a></td>
                <td>{{ account.address }}</td>
                <td>{{ account.safe }}</td>
                <td>{{ account.folder }}</td>
                <td>{{ account.policy_id }}</td>
                <td>{{ account.last_update_time }}</td>
                <td>{{ account.risk_rank }}</td>
                <td>{{ account.operational_impact }}</td>
                <td>{{ account.overall_score }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% else %}
        <ul>No accounts</ul>
    {% endif %}

{% endblock %}
