{% extends 'PAM_APP/base.html' %}
{% block content %}
<div class="btn-group">
    <a href="{% url 'PAM_APP:update_user' object.id %}"><button class="btn btn-default">Edit</button></a>
    <a href="{% url 'PAM_APP:delete_user' object.id %}"><button class="btn btn-default">Delete</button></a>
</div>

<h1>{{ object }}</h1>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Account Value</th>
                </tr>
            </thead>
            <tr>
                <td>First Name</td><td>{{ object.first_name }}</td>
            </tr><tr>
                <td>Last Name</td><td>{{ object.last_name }}</td>
            </tr><tr>
                <td>Email</td><td>{{ object.email }}</td>
            </tr><tr>
                <td>Accounts</td>
                <td>
                    {% for account in object.account_set.all %}
                    <li><a href="{% url 'PAM_APP:view_account' account.id %}">{{ account }}</a></li>
                    {% endfor %}
                </td>
            </tr>

        </table>
{% endblock %}